@import 'mixins';

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, serif;
}

body {
    background-color: #181733;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

header {
    width: 300px;
    padding: 5px;
    margin: 0 20px 50px;
    border-radius: 0 0 5px 5px;
}

header a img {
  margin: 0 auto;
  display: block;
  height: 80px;
}

main h1,h2 {
   @include headlines();
}

main section#line-up {
    @include sections();

    article:hover{
      background-color:#004D98;
      cursor: pointer;
    }
}

main section.sub-p {
    margin-bottom: 50px;
    @include sections();

    article {
   background-color: #004D98;

  }
}

main section article {
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;

    img {
      display: block;
      margin: 14px auto;
      height: 200px;
    }

    span {
    display: block;
    margin: 3px auto;
    font-size: 18px;
    color:#fff;
    }
}

.num {
  color: #EDBB00;
}